{% if note is defined and note.id is defined %}
    {% set title = 'Edit Note' %}
    {% set mode = 'edit' %}
    {% set submit_icon = 'edit' %}
{% else %}
    {% set title = 'Create Note' %}
    {% set mode = 'create' %}
    {% set submit_icon = 'document' %}
{% endif %}

{% extends "default.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <hr class="mt-6 mb-8 border-neutral-200">
    <section class="my-6">
        {% if mode == 'create' %}
            <h2>Create a note</h2>
        {% else %}
            <h2>Update note</h2>
        {% endif %}
        <div class="flex flex-row md:gap-x-8 mt-8">
            <div class="w-1/3 hidden md:block">
                <h3>Quick guide</h3>
                {% if mode == 'create' %}
                    <p>
                        It doesn't take much to create a note. Just add a title and a body, click "<i>Create a note</i>"
                        and you're done. If you don't to set a date, it will default to the current date.
                    </p>
                {% endif %}
                <p class="font-medium">
                    All fields are required, unless marked as optional.
                    And, the <em>body</em> field supports <a href="https://markdownguide.org" class="simple" target="_blank">Markdown formatting</a>.
                </p>
            </div>
            <form action="/manage{% if mode == 'edit' %}/{{ note.id }}{% endif %}"
                  method="post"
                  class="flex flex-col gap-y-5 w-full md:w-2/3">
                <div>
                    <label for="title">Title:</label>
                    <input type="text"
                           class=" bg-neutral-50 border border-neutral-300 px-4 py-2 rounded-md w-full focus:bg-white transition delay-100 duration-150 ease-in-out"
                           id="title"
                           name="title"
                           value="{% if note is defined %}{{ note.title }}{% endif %}"
                           required>
                </div>
                <div>
                    <div class="flex flex-row place-content-between">
                        <label for="body">Body:</label>
                        <p class="p-1 text-sm text-neutral-500 my-0">
                            <a href="https://markdownguide.org"
                               target="_blank" class="simple">Markdown formatting</a> is supported.
                        </p>
                    </div>
                    <textarea name="body"
                              class=" bg-neutral-50 border border-neutral-300 p-4 rounded-md w-full focus:bg-white transition delay-100 duration-150 ease-in-out"
                              id="body"
                              required
                              rows="5">{% if note is defined %}{{ note.body }}{% endif %}</textarea>
                </div>
                <div>
                    <label for="category">Category:</label>
                    <select id="category"
                            class=" bg-neutral-50 border border-neutral-300 px-4 py-2 rounded-md w-full"
                            name="category">
                        <option value="education"
                                {% if note is defined and note.category == 'education' %}
                                    selected="selected"
                                {% endif %}>
                            Education
                        </option>
                        <option value="politics"
                                {% if note is defined and note.category == 'politics' %}
                                    selected="selected"
                                {% endif %}>
                            Politics
                        </option>
                        <option value="sport"
                                {% if note is defined and note.category == 'sport' %}
                                    selected="selected"
                                {% endif %}>
                            Sport
                        </option>
                    </select>
                </div>
                <div>
                    <label for="created">Date created (optional):</label>
                    <input type="date"
                           class=" bg-neutral-50 border border-neutral-300 px-4 py-2 rounded-md w-full focus:bg-white transition delay-100 duration-150 ease-in-out"
                           id="created"
                           value="{% if note is defined %}{{ note.created }}{% endif %}"
                           name="created">
                </div>
                <div class="flex flex-col md:flex-row gap-y-2 md:gap-x-2 mt-2 justify-end">
                    {% if mode == 'edit' %}
                        <input type="hidden" name="id" value="{{ note.id }}">
                    {% endif %}
                    <button name="submit"
                            class="button {{ mode }} w-full md:w-fit">
                        <img class="py-1"
                             src="/images/white/{{ submit_icon }}.png"
                             alt="">
                        {% if mode == "edit" %} Update {% else %} Create {% endif %} note
                    </button>
                    <a href="/" class="text-center w-full md:w-fit text-base button">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
