{% if note is defined and note.id is defined %}
    {% set title = 'Edit Note' %}
    {% set mode = 'edit' %}
{% else %}
    {% set title = 'Create Note' %}
    {% set mode = 'create' %}
{% endif %}

{% extends "default.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <hr class="mt-6 mb-8 border-neutral-200">
    <section class="my-6">
        <h2>Create new note</h2>
        <div class="flex flex-row md:gap-x-8 mt-8">
            <div class="w-1/3 hidden md:block">
                {% if mode == 'create' %}
                    <h3>Creating notes</h3>
                    <p>
                        It doesn't take much to create a note. Just add a title and a body, click "<i>Create a note</i>"
                        and you're done. If you don't to set a date, it will default to the current date.
                    </p>
                {% endif %}
                <p class="font-semibold">All fields are required, unless marked as optional.</p>
            </div>
            <form class="flex flex-col gap-y-5 w-full md:w-2/3">
                <div>
                    <label for="title">Title:</label>
                    <input type="text"
                           class=" bg-neutral-50 border border-neutral-200 px-4 py-2 rounded-md w-full"
                           id="title"
                           name="title"
                           value="{% if note is defined %}{{ note.title }}{% endif %}"
                           required>
                </div>
                <div>
                    <label for="body">Body:</label>
                    <textarea name="body"
                              class=" bg-neutral-50 border border-neutral-200 p-4 rounded-md w-full"
                              id="body"
                              required
                              rows="5">{% if note is defined %}{{ note.body }}{% endif %}</textarea>
                </div>
                <div>
                    <label for="category">Category:</label>
                    <select id="category"
                            class=" bg-neutral-50 border border-neutral-200 px-4 py-2 rounded-md w-full"
                            name="category">
                        <option value="education"
                                {% if note is defined and note.category == 'education' %}
                                    selected
                                {% endif %}>
                            Education
                        </option>
                        <option value="politics"
                                {% if note is defined and note.category == 'politics' %}
                                    selected
                                {% endif %}>
                            Politics
                        </option>
                        <option value="sport"
                                {% if note is defined and note.category == 'sport' %}
                                    selected
                                {% endif %}>
                            Sport
                        </option>
                    </select>
                </div>
                <div>
                    <label for="created">Date created (optional):</label>
                    <input type="date"
                           class=" bg-neutral-50 border border-neutral-200 px-4 py-2 rounded-md w-full"
                           id="date"
                           value="{% if note is defined %}{{ note.date|format_date("Y/m/d") }}{% endif %}"
                           name="date">
                </div>
                <div class="flex flex-col md:flex-row gap-y-2 md:gap-x-2 mt-2 justify-end">
                    {% if mode == 'edit' %}
                        <input type="hidden" name="id" value="{{ note.id }}">
                    {% endif %}
                    <button name="create"
                            class="button create">
                        <img src="/images/white/document.png"
                             alt=""
                             class="py-1">
                        {% if mode == "edit" %} Edit {% else %} Create {% endif %} note
                    </button>
                    <a href="/" class="text-center w-full md:w-fit text-base button">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
