{% if note is defined and note.id is defined %}
    {% set title = 'Edit Note' %}
    {% set mode = 'edit' %}
    {% set submit_icon = 'edit' %}
{% else %}
    {% set title = 'Create Note' %}
    {% set mode = 'create' %}
    {% set submit_icon = 'document' %}
{% endif %}

{% extends "default.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block notification %}
    {{ include('includes/notification.html.twig') }}
{% endblock %}

{% block content %}
    <hr class="">
    <section class="my-6">
        <h2 class="hidden md:block">{{ mode == 'create' ? 'Create a note' : 'Update note' }}</h2>
        <div class="flex flex-row md:gap-x-8 mt-8">
            <aside class="quick-guide">
                <h3>Quick guide</h3>
                {% if mode == 'create' %}
                    <p>
                        It doesn't take much to create a note.
                        Just add a title and a body, click "<i>Create a note</i>" and you're done.
                        If you don't to set a date, it will default to the current date.
                    </p>
                {% endif %}
                <p>
                    All fields are required, unless marked as optional.
                    And, the <em>body</em> field supports <a href="https://markdownguide.org" class="bare" target="_blank">Markdown formatting</a>.
                </p>
            </aside>
            <form action="/manage{% if mode == 'edit' %}/{{ note.id }}{% endif %}"
                  method="post"
                  name="form-manage-note">
                <div>
                    <label for="title">Title:</label>
                    <input type="text"
                           id="title"
                           name="title"
                           value="{{ note.title ?? '' }}"
                           required>
                </div>
                <div>
                    <div class="flex flex-row place-content-between">
                        <label for="body">Body:</label>
                        <p class="field-info">
                            <a href="https://markdownguide.org"
                               target="_blank"
                               class="bare">Markdown formatting</a> is supported.
                        </p>
                    </div>
                    <textarea name="body"
                              id="body"
                              required
                              rows="12">{{ note.body ?? '' }}</textarea>
                </div>
                <div>
                    <label for="category">Category:</label>
                    <select id="category"
                            name="category">
                        {% for category in categories %}
                        <option value="{{ category }}"
                            {% if note is defined and note.category == category %}
                                selected="selected"
                            {% endif %}>
                            {{ category|capitalize }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="created">Date created (optional):</label>
                    <input type="date"
                           id="created"
                           value="{{ note.created ?? '' }}"
                           name="created">
                </div>
                <div class="controls">
                    {% if mode == 'edit' %}
                        <input type="hidden" name="id" value="{{ note.id }}">
                    {% endif %}
                    <button name="submit"
                            id="create-note"
                            class="button {{ mode }}">
                        <img
                             src="/images/white/{{ submit_icon }}.png"
                             alt="">
                        {{ mode == "edit" ? 'Update' : 'Create' }} note
                    </button>
                    <a href="/"
                       class="button"
                       id="cancel-create-new-note">Cancel</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
